# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log

\.idea/

cmd/relay-api/relay-api

cmd/relay-api/log/

cmd/relay/relay

cmd/relay/log/relay\.log

cmd/relay/log/relay_err\.log

script/eos/nodes/

script/eos/wallet/

script/eosforce/nodes/

script/eosforce/wallet/

script/eos/output.log

script/eosforce/output.log

script/eosforce/config/

script/eosforce/config\.ini

cmd/relay-cli/relay-cli
cmd/relay/vendor
